<div
  style='font-family: Arial, Helvetica, sans-serif;font-size: 16px; line-height: 1.6;  color: #222;  max-width: 600px;'>
  <!-- Indica onde ficará o corpo do email -->
  {{{ body }}}
  <!-- Adicionando um partial na página -->
  {{> footer }}
</div>
