<!-- Adicioando uma variável no email com as duas chaves -->
<strong>Olá, {{ provider }} </strong>
<p> Um usuário cancelou um agendamento, confira os detalhes abaixo: </p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data & hora: </strong> {{ date }} <br />
  <br />
  <small>
    Este horário se encontra disponível para novos agendamentos.
  </small>
</p>
